<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Node Up</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Wecome Onine Shop of Devops at UP</h5>
            <form method="post" action="/item/add">
              <label for="name">Item Product :</label>
              <input type="text" name="name">
              <input type="submit" class="btn btn-primary" value="Add" style="width: 80px;">
            </form>
            <p>Product Items:</p>
            <ul>
              <% items.forEach(function(item) { %>
                <li>
                  <%= item.name %>
                </li>
                <% }); %>
            </ul>
          </div>
        </div>        
      </div>
    </div>
  </div>
</body>

</html>
